= form_for resource do |f|
  = render "shared/error_messages", :target => @tour_day
  .form-group.row
    =f.label :date, :class=>"col-2 col-form-label"
    .col-8
      =f.text_field :date, autofocus: true, :class=>"form-control"
  .form-group.row
    =f.label :show_name, :class=>"col-2 col-form-label"
    .col-8
      =f.text_field :show_name, :class=>"form-control"
  .form-group.row
    =f.label :city, :class=>"col-2 col-form-label"
    .col-8
      =f.text_field :city, :class=>"form-control"
  .form-group.row
    =f.label :country, :class=>"col-2 col-form-label"
    .col-8
      =f.text_field :country, :class=>"form-control"
  .form-group.row
    =f.label :km_next_day, :class=>"col-2 col-form-label"
    .col-8
      =f.text_field :km_next_day, :class=>"form-control"
  .form-group.row
    =f.label :comment_next_day, :class=>"col-2 col-form-label"
    .col-8
      =f.text_area :comment_next_day, :class=>"form-control"
  .row
    .col-4
      = link_to "cancel", admin_tour_path(@tour), :class => "btn btn-secondary"
      = f.submit "Save TourDay", :class=>"btn btn-primary"