<input id="datetimepicker" type="text" >

<script type="text/javascript">jQuery('#datetimepicker').datetimepicker();</script>

<!--<div class="col-sm-6" style="height:130px;">
    <div class="form-group">
        <div class='input-group date' id='datetimepicker8'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
                <span class="fa fa-calendar">
                </span>
            </span>
        </div>
		<div class='input-group date' id='datetimepicker1'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">
                <span class="fa fa-calendar">
                </span>
            </span>
        </div>
		<div class='input-group date' id='doom'>
            <input type='text' class="form-control"/>
            <span class="input-group-addon">
                <span class="fa fa-calendar">
                </span>
            </span>
        </div>
    </div>
</div>
<div>
	
<h2>hm</h2>
<input data-behaviour="datepicker" id="race_begins_on" name="race[begins_on]" size="30" type="text" value="2012-07-29">
<label>huhu</label>
<input type="text" data-provide='datepicker' id=datetimepicker>
</div>

<div id="datetimepicker">haha</div>
<script type="text/javascript">
  $('#datetimepicker').datetimepicker(format: "DD.MM.YYYY - HH:mm");
</script>
<script type="text/javascript">
    $(function () {

        $('#datetimepicker8').datetimepicker({
            format: "DD.MM.YYYY - HH:mm",
            sideBySide: true,
             icons: {
                time: 'fa fa-clock-o',
                date: 'fa fa-calendar',
                up: 'fa fa-plus',
                down: 'fa fa-minus',
                next: 'fa fa-chevron-right',
                previous: 'fa fa-chevron-left'
            }
        });
		$('#datetimepicker1').datetimepicker({
            format: "DD.MM.YYYY",
             icons: {
                time: 'fa fa-clock-o',
                date: 'fa fa-calendar',
                up: 'fa fa-plus',
                down: 'fa fa-minus',
                next: 'fa fa-chevron-right',
                previous: 'fa fa-chevron-left'
            }
        });
    });
  
   
</script>-->