= form_for resource do |f|
  = render "shared/error_messages", :target => @cargo
  .field
    =f.label :time_drop_off
    %br
    =f.text_field :time_drop_off, autofocus: true
  .field
    =f.label :contact_drop_off
    %br
    =f.text_field :contact_drop_off
  .field
    =f.label :licence_plate_drop_off
    %br
    =f.text_field :licence_plate_drop_off
  .field
    =f.label :amount_drop_off
    %br
    =f.text_field :amount_drop_off
  .field
    =f.label :time_pick_up
    %br
    =f.text_field :time_pick_up
  .field
    =f.label :contact_pick_up
    %br
    =f.text_field :contact_pick_up
  .field
    =f.label :licence_plate_pick_up
    %br
    =f.text_field :licence_plate_pick_up
  .field
    =f.label :amount_pick_up
    %br
    =f.text_field :amount_pick_up
  .field
    =f.label :comment
    %br
    =f.text_area :comment
  .action
    = f.submit "Save Cargo"

