.card
  = render :partial => "admin/shared/tour_day_info"
  .card-block
    %h4.card-title New Cargo
    = render :partial => "admin/cargos/form", :locals => {cargo: @cargo, resource: [:admin, @tour_day, @cargo]}