= form_for resource do |f|
  = render "shared/error_messages", :target => @travel_schedule_item
  .form-group.row
    .col-1
      =f.label :name
    .col-1
      =f.label :for_whom
    .col-1
      =f.label :number
    .col-1
      =f.label :origin
    .col-1
      =f.label :destination
    .col-1
      =f.label :call_time
    .col-2
      =f.label :departure_datetime
    .col-2
      =f.label :arrival_datetime
    .col-1
      =f.label :duration
    .col-1
      =f.label :comment
  .row
    .col-1
      =f.text_field :name, :class => "form-control form-control-sm"
    .col-1
      =f.text_field :for_whom, :class => "form-control form-control-sm"
    .col-1
      =f.text_field :number, :class => "form-control form-control-sm"
    .col-1
      =f.text_field :origin, :class => "form-control form-control-sm"
    .col-1
      =f.text_field :destination, :class => "form-control form-control-sm"
    .col-1
      =f.time_field :start_time, :value => (l(f.object.start_time, format: :time) unless f.object.start_time.blank?), :class => "form-control form-control-sm"
    .col-2
      =f.date_field :departure_datetime,:value => (l(f.object.departure_datetime, format: :long) unless f.object.departure_datetime.blank?), :class => "form-control form-control-sm"
    .col-2
      =f.date_field :arrival_datetime, :value => (l(f.object.arrival_datetime, format: :long) unless f.object.arrival_datetime.blank?), :class => "form-control form-control-sm"
    .col-1
      =f.text_field :duration, :class => "form-control form-control-sm"
    .col-1
      =f.text_area :comment, :class => "form-control form-control-sm"
  .row
    .col-4
      = link_to "Cancel", admin_tour_day_path(@tour_day, :anchor => "travel_schedule"), :class => "btn btn-secondary"
      = f.button "Travel Schedule Item", :class=>"btn btn-primary"

/  = render "admin/travel_schedule_items/form_travel_schedule_item", :locals => {f: f}