.field.d-inline
  =f.label :name
  %br
  =f.text_field :name
.field.d-inline
  =f.label :for_whom
  %br
  =f.text_field :for_whom
.field.d-inline
  =f.label :number
  %br
  =f.text_field :number
.field.d-inline
  =f.label :origin
  %br
  =f.text_field :origin
.field.d-inline
  =f.label :destination
  %br
  =f.text_field :destination
.field.d-inline
  =f.label :call_time
  %br
  =f.time_field :start_time
.field.d-inline
  =f.label :departure_day
  %br
  =f.date_field :departure_day
.field.d-inline
  =f.label :arrival_day
  %br
  =f.date_field :arrival_day
.field.d-inline
  =f.label :duration
  %br
  =f.text_field :duration
.field.d-inline
  =f.label :comments
  %br
  =f.text_area :comments