.card
  = render :partial => "admin/shared/tour_day_info"
  .card-block
    %h4.card-title Edit Travel Schedule
    = render :partial => "admin/travel_schedule_items/form", :locals => {tour_day: @tour_day, resource: [:admin, @travel_schedule_item]}