%h2 Assign Tour Members
= render :partial => "admin/shared/tour_info"
%div
  = form_for(@tour, url: { controller: "admin/tours", action: "update_crew_members"}, method: "post") do |f|
    = f.collection_check_boxes(:crew_member_ids, @crew_members_available, :id, :name)
    .action
      = f.submit "Assign Crew Members"