.card-block#show_schedule
  -unless @tour_day.show_schedule_items.empty?
    %h4.card-title
      Show Schedule
      %span=link_to "Add Show Schedule Item", new_admin_tour_day_show_schedule_item_path(@tour_day), :class=>"btn btn-outline-primary btn-sm ml-4"
    .row
      .col-1 Name
      .col-2 for_whom
      .col-1 start time
      .col-1 end time
      .col-2 Comment
      .col-1
    - @tour_day.show_schedule_items.each do |item|
      = render :partial => "admin/show_schedule_items/show_show_schedule_item", :locals => {item: item}
  -else
    %h4.card-title Show Schedule
    .text-center
      %p.card-textWith There has been Show Schedule created yet
      =link_to "creat show schedule", new_admin_tour_day_show_schedule_item_path(@tour_day), :class=>"btn btn-primary"