.row
  .col-1
    Name
  .col-2
    for_whom
  .col-1
    start time
  .col-1
    end time
  .col-2
    Comment
  .col-1
- show_schedule_items.each do |item|
  = render :partial => "admin/show_schedule_items/show_show_schedule_item", :locals => {item: item}

