.card-block#production
  -unless @tour_day.production.nil?
    %h4.card-title
      Production
      %span=link_to "edit production", edit_admin_production_path(@tour_day.production), :class=>"btn btn-outline-primary btn-sm ml-4" unless print
    = render :partial => "admin/productions/production", :locals => {production: @tour_day.production}
  -else
    - unless print
      %h4.card-title Production
      .text-center
        %p.card-textWith There has been no Production created yet!
        =link_to "Create Production", new_admin_tour_day_production_path(@tour_day), :class=>"btn btn-success"
