.card
  = render :partial => "admin/shared/tour_day_info"
  .card-block
    %h4.card-title Edit Production
    = render :partial => "admin/productions/form", :locals => {production: @production, resource: [:admin, @production]}