%nav{:class =>"navbar navbar-toggleable-md navbar-light bg-faded"}
  .container
    %button{:class=>"navbar-toggler navbar-toggler-right", :type=>"button", :data => {:toggle=>"collapse", :target=>"#navbarNav"}, :aria => {:controls=>"navbarNav", :expanded=>"false", :label=>"Toggle navigation"}}
      %span{:class=>"navbar-toggler-icon"}
    %a{:class=>"navbar-brand", :href=>"#"} 
      %img{:src=>"/assets/brand/bigtour_logo.svg", :width=>"30", :height=>"30", :alt=>""}
      %small Big Size 
      Big Tour 
      %small Big Nice
    %div{:class=>"collapse navbar-collapse", :id=>"navbarNav"}
      %ul{:class=>"navbar-nav"}
        %li{:class=>"nav-item active"}
          =link_to "My Tours", admin_welcome_index_path, :class => "nav-link"
        %li{:class=>"nav-item"}
          =link_to "Crew Members", admin_users_path, :class => "nav-link"
        %li{:class=>"nav-item"}
          %a{:class=>"nav-link disabled", :href=>"#"}
            Archive