= form_for [:admin,@tour_day, TravelScheduleItem.new] do |f|
  = render "shared/error_messages", :target => @setup_items.first
  - @setup_items.each do |item|
    = render :partial => "admin/travel_schedule_items/form_travel_schedule_item", :locals => {item: item, f: f}
  .action
    = f.submit "Save Travel Schedule"