.card-block#travel_schedule
  -unless @tour_day.travel_schedule_items.empty?
    %h4.card-title
      Travel Schedule
      %span=link_to "Add Travel Schedule Item", new_admin_tour_day_travel_schedule_item_path(@tour_day), :class=>"btn btn-outline-primary btn-sm ml-4" unless print
    %table{:class=>"table table-striped mb-4"}
      %thead
        %tr
          %th Name
          %th Who
          %th Number
          %th Origin
          %th Destination
          %th Call Time
          %th Departure
          %th Arrival
          %th Duration
          %th Comment
          - unless print
            %th
      %tbody
        - @tour_day.travel_schedule_items.each do |item|
          = render :partial => "admin/travel_schedule_items/show_travel_schedule_item", :locals => {item: item, print: print}
  -else
    -unless print
      %h4.card-title Travel Schedule
      .text-center
        %p.card-textWith There has been no Travel Schedule created yet!
        = link_to "create travel schedule", new_admin_tour_day_travel_schedule_path(@tour_day), :class=>"btn btn-success"
