.row.bg-primary
  .col.text-white.mx-4.mt-2
    %h5= item.name
.card.rounded-0
  .card-block
    .row
      .col-1=fa_icon "user"
      .col=item.for_whom
    .row
      .col-1=fa_icon "clock-o"
      .col-3=l(item.start_time, format: :time) unless item.start_time.blank?
      .col-3="to: #{l(item.end_time, format: :time) unless item.end_time.blank?}"
    .row
      .col-12=item.comment
