.card-block#promo_schedule
  -unless @tour_day.promo_schedule_items.empty?
    %h4.card-title
      Promo Schedule
      %span=link_to "Add Show Promo Item", new_admin_tour_day_promo_schedule_item_path(@tour_day), :class=>"btn btn-outline-primary btn-sm ml-4"
    .row
      .col-1 Name
      .col-2 for_whom
      .col-1 destination
      .col-1 start time
      .col-1 end time
      .col-2 contact
      .col-2 Comment
      .col-1
    - @tour_day.promo_schedule_items.each do |item|
      = render :partial => "admin/promo_schedule_items/show_promo_schedule_item", :locals => {item: item}
  -else
    %h4.card-title Promo Schedule
    .text-center
      %p.card-textWith There has been No Promo Schedule created yet
      =link_to "create promo schedule", new_admin_tour_day_promo_schedule_item_path(@tour_day), :class=>"btn btn-primary"    
