.row.bg-info.mx-0.rou
  = link_to tour_path(tour), :class=>"list-group-item w-100" do 
    .col
      %h4.card-title=tour.tour_name
    .col-1.text-right
      =pluralize(tour.tour_days_count, 'show') 
      =fa_icon "chevron-right 2x", :class=>"ml-2"
