= form_for resource do |f|
  = render "shared/error_messages", :target => @venue
  .form-group.row
    =f.label :venue_name, :class=>"col-2 col-form-label"
    .col-8
      =f.text_field :venue_name, :class=>"form-control"
  .form-group.row
    =f.label :address_1, :class=>"col-2 col-form-label"
    .col-8
      =f.text_field :address_1, :class=>"form-control"
  .form-group.row
    =f.label :address_2, :class=>"col-2 col-form-label"
    .col-8
      =f.text_field :address_2,  :class=>"form-control"
  .form-group.row
    =f.label :zip_code, :class=>"col-2 col-form-label"
    .col-8
      =f.text_field :zip_code, :class=>"form-control"
  .form-group.row
    =f.label :city, :class=>"col-2 col-form-label"
    .col-8
      =f.text_field :city, :class=>"form-control"
  .form-group.row
    =f.label :country, :class=>"col-2 col-form-label"
    .col-8
      =f.text_field :country, :class=>"form-control"
  .form-group.row
    =f.label :url, :class=>"col-2 col-form-label"
    .col-8
      =f.text_field :url, :class=>"form-control"
  .form-group.row
    =f.label :venue_type, :class=>"col-2 col-form-label"
    .col-8
      =f.text_field :event_type, :class=>"form-control"
  .form-group.row
    =f.label :slot, :class=>"col-2 col-form-label"
    .col-8
      =f.text_field :slot, :class=>"form-control"
  .form-group.row
    =f.label :stage, :class=>"col-2 col-form-label"
    .col-8
      =f.text_field :stage, :class=>"form-control"
  .form-group.row
    =f.label :capacity, :class=>"col-2 col-form-label"
    .col-8
      =f.text_field :capacity, :class=>"form-control"
  .form-group.row
    =f.label :sales, :class=>"col-2 col-form-label"
    .col-8
      =f.text_field :sales, :class=>"form-control"
  .form-group.row
    =f.label :comment, :class=>"col-2 col-form-label"
    .col-8
      =f.text_area :comment, autofocus: true, :class=>"form-control"
  .row
    .col-4
      = link_to "cancel", admin_tour_day_path(@tour_day, :anchor => "venue"), :class => "btn btn-secondary"
      = f.submit "Save Venue", :class=>"btn btn-primary"
