.card-block#venue
  -unless @tour_day.venue.nil?
    %h4.card-title
      Venue
      %span=link_to "Edit Venue", edit_admin_venue_path(@tour_day.venue), :class=>"btn btn-outline-primary btn-sm ml-4"
    = render :partial => "admin/venues/venue", :locals => {venue: @tour_day.venue}
  -else
    %h4.card-title Venue
    .text-center
      %p.card-textWith There have been no Venue created yet
      =link_to "Create Venue", new_admin_tour_day_venue_path(@tour_day), :class=>"btn btn-success"    
