.card
  = render :partial => "admin/shared/tour_day_info"
  .card-block
    %h4.card-title Edit Venue
    = render :partial => "admin/venues/form", :locals => {venue: @venue, resource: [:admin, @venue]}