.card-block#primary_hotel
  -unless @tour_day.primary_hotel.nil?
    %h4.card-title
      Primary Hotel
      %span=link_to "edit primary hotel", edit_admin_primary_hotel_path(@tour_day.primary_hotel), :class=>"btn btn-outline-primary btn-sm ml-4"
    = render :partial => "admin/shared/hotel_show", :locals => {hotel: @tour_day.primary_hotel}
  -else
    %h4.card-title Primary Hotel
    .text-center
      %p.card-textWith There has been no Primary Hotel created yet
      =link_to "Create Primary Hotel", new_admin_tour_day_primary_hotel_path(@tour_day), :class=>"btn btn-success"    
