.card
  = render :partial => "admin/shared/tour_day_info"
  .card-block
    %h4.card-title Edit Primary Hotel
    = render :partial => "admin/shared/hotel_form", :locals => {hotel: @primary_hotel, resource: [:admin, @primary_hotel]}