.card
  = render :partial => "admin/shared/tour_day_info"
  .card-block
    %h4.card-title Edit Contact
    = render :partial => "admin/contacts/form", :locals => {contact: @contact, resource: [:admin, @contact]}
