= form_for resource do |f|
  = render "shared/error_messages", :target => @show_schedule_item
  .form-group.row
    .col-1
      =f.label :name
    .col-2
      =f.label :for_whom
    .col-2
      =f.label :start_time
    .col-2
      =f.label :end_time
    .col-2
      =f.label :comment
  .row
    .col-1
      =f.text_field :name, :class => "form-control form-control-sm"
    .col-2
      =f.text_field :for_whom, :class => "form-control form-control-sm"
    .col-2
      =f.time_field :start_time, :value => (l(f.object.start_time, format: :time) unless f.object.start_time.blank?), :class => "form-control form-control-sm"
    .col-2
      =f.time_field :end_time, :value => (l(f.object.end_time, format: :time) unless f.object.end_time.blank?), :class => "form-control form-control-sm"
    .col-2
      =f.text_area :comment, :class => "form-control form-control-sm"
  .row
    .col-5
      = link_to "Cancel", admin_tour_day_path(@tour_day, :anchor => "show_schedule"), :class => "btn btn-secondary"
      = f.button "Save Show Schedule Item", :class=>"btn btn-primary"