.card-block#secondary_hotel
  -unless @tour_day.secondary_hotel.nil?
    %h4.card-title
      Secondary Hotel
      %span=link_to "edit secondary hotel", edit_admin_secondary_hotel_path(@tour_day.secondary_hotel), :class=>"btn btn-outline-primary btn-sm ml-4"
    = render :partial => "admin/shared/hotel_show", :locals => {hotel: @tour_day.secondary_hotel}
  -else
    %h4.card-title Secondary Hotel
    .text-center
      %p.card-textWith There has been no Secondary Hotel created yet
      =link_to "Create Primary Hotel", new_admin_tour_day_secondary_hotel_path(@tour_day), :class=>"btn btn-success"