.card
  = render :partial => "admin/shared/tour_day_info"
  .card-block
    %h4.card-title Edit Secondary Hotel
    = render :partial => "admin/shared/hotel_form", :locals => {hotel: @secondary_hotel, resource: [:admin, @secondary_hotel]}