= form_for resource do |f|
  = render "shared/error_messages", :target => hotel
  
  .form-group.row
    =f.label :hotel_name, :class=>"col-2 col-form-label"
    .col-8
      =f.text_field :hotel_name, autofocus: true, :class=>"form-control"
  .form-group.row
    =f.label :address_1, :class=>"col-2 col-form-label"
    .col-8
      =f.text_field :address_1, :class=>"form-control"
  .form-group.row
    =f.label :address_2, :class=>"col-2 col-form-label"
    .col-8
      =f.text_field :address_2, autofocus: true, :class=>"form-control"
  .form-group.row
    =f.label :zip_code, :class=>"col-2 col-form-label"
    .col-8
      =f.text_field :zip_code, :class=>"form-control"
  .form-group.row
    =f.label :city, :class=>"col-2 col-form-label"
    .col-8
      =f.text_field :city, autofocus: true, :class=>"form-control"
  .form-group.row
    =f.label :country, :class=>"col-2 col-form-label"
    .col-8
      =f.text_field :country, :class=>"form-control"
  .form-group.row
    =f.label :check_in_date, :class=>"col-2 col-form-label"
    .col-8
      =f.date_field :check_in_date, :class=>"form-control"
  .form-group.row
    =f.label :check_out_date, :class=>"col-2 col-form-label"
    .col-8
      =f.date_field :check_out_date, autofocus: true, :class=>"form-control"
  .form-group.row
    =f.label :number_of_nights, :class=>"col-2 col-form-label"
    .col-8
      =f.text_field :number_of_nights, :class=>"form-control"
  .form-group.row
    =f.label :single_rooms, :class=>"col-2 col-form-label"
    .col-8
      =f.text_field :single_rooms, autofocus: true, :class=>"form-control"
  .form-group.row
    =f.label :twin_rooms, :class=>"col-2 col-form-label"
    .col-8
      =f.text_field :twin_rooms, :class=>"form-control"
  .form-group.row
    =f.label :breakfast, :class=>"col-2 col-form-label"
    .col-8
      =f.text_field :breakfast, autofocus: true, :class=>"form-control"
  .form-group.row
    =f.label :comment, :class=>"col-2 col-form-label"
    .col-8
      =f.text_area :comment, :class=>"form-control"
  .row
    .col-8
      = link_to "Cancel", admin_tour_day_path(@tour_day, :anchor => "primary_hotel"), :class => "btn btn-secondary"
      = f.submit "Save Hotel", :class=>"btn btn-primary"